<h2>Top Stories</h2>

<a href="/">All | </a>
<a href="/comedy">Comedy | </a>
<a href="/horror">Horror | </a>
<a href="/fantasy">Fantasy | </a>
<a href="/scifi">Sci-fi</a>


<% @fables.each do |fable| %>
  <div class="post">

    <a href="/<%= fable['id']%>"><h3 class="title_text"><%= fable['title'] %></h3></a>
    <p>by <a href="/profile/<%= fable['author'] %>"><%= fable['author'] %></p></a>
    <hr>
    <p class="post-text"><%= fable['description'] %></p>
  </div>
<% end %>

<% if login? %>

  <form class="post" action="" method="post">

      <div>
        <h3>Create a new story:</h3>
        <label for="title">title: </label>
        <input type="text" name="title" />
      </div>
      <br>
      <div>
        <label for="description">description: </label>
        <textarea name="description"></textarea>
      </div>

      <div>
        <label for="category">category: </label>
        <select name="category">
          <option value="comedy">comedy</option>
          <option value="horror">horror</option>
          <option value="fantasy">fantasy</option>
          <option value="scifi">sci-fi</option>
        </select>
      </div>

      <div id="create-story" class="button">
        <input type="submit" value="Create" />
      </div>

  </form>

<% else %>
  <a href="/login" class="login-button">Log in to create a new story</a>
<% end %>







