<h2>Top Stories</h2>

<a href="/">All | </a>
<a href="/comedy">Comedy | </a>
<a href="/horror">Horror | </a>
<a href="/fantasy">Fantasy | </a>
<a href="/scifi">Sci-fi</a>

<% if @fables.length == 0 %>
  <p class="post">No sci-fis yet.</p>
<% else %>

  <% @fables.each do |fable| %>
    <div class="post">

      <a href="/<%= fable['id']%>"><h3 class="title_text"><%= fable['title'] %></h3></a>
      <p>by <a href="/profile/<%= fable['author'] %>"><%= fable['author'] %></p></a>
      <hr>
      <p class="post-text"><%= fable['description'] %></p>
    </div>
  <% end %>

<% end %>
